* {
  margin: 0 auto;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background: url(center.jpg);
  background-size: cover;
}
.bg {
  width: 100%;
  height: 100%;
  background: url(bg.png);
  background-size: cover;
  background-repeat: repeat;
  background-position-y: -25px;
  position: absolute;
  z-index: 1;
}
#imgbox {
  width: 300px;
  height: 300px;
  border-radius: 45%;
  margin-top: 2em;
  background: url(clear.jpg);
  background-size: contain;
}
#searchContainer {
  position: absolute;
  z-index: 2;
  width: 100vw;
  margin-top: 20rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  h2 {
    font-size: 30px;
    padding: 10px;
    font-family: "DM Serif Display", serif;
  }
  #searchInput {
    width: 50vw;
    height: 2rem;
    border-radius: 10px;
    background: none;
    border: 1px solid black;
  }
  #searchBtn {
    width: 50px;
    height: 50px;
    background: url(queren.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
  }
}

.context {
  margin-top: 1rem;
  width: 80px;
  height: 160px;
  display: flex;
  flex-flow: row wrap;
}
#weatherText {
  font-size: 60px;
  // background: green;
  width: 100%;
  height: 100%;
  text-align: center;
}
#cityHeader {
  position: relative;
  top: -190px;
  left: 66px;
  text-align: center;
  width: 150px;
  height: 40px;
  transform: rotateZ(90deg);
  font-family: "DM Serif Display", serif;
  font-size: 16px;
  line-height: 40px;
  color: white;
  background: url(inputbg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#dateInfo {
  margin-top: 8px;
  width: 100%;
  text-align: center;
  font-size: 20px;
}
hr {
  margin-top: 8px;
  width: 60%;
  text-align: center;
}
.fivedays {
  //background: yellow;
  text-align: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  font-size: 20px;
  #temperature {
    font-size: 50px;
  }
}
.hidden {
  display: none;
  opacity: 0;
}

@media only screen and (min-width: 375px) {
  #imgbox {
    width: 300px;
    height: 300px;
    border-radius: 45%;
    margin-top: 3em;
  }

  .context {
    margin-top: 2rem;
    width: 80px;
    height: 160px;
    display: flex;
    flex-flow: row wrap;
  }
  #cityHeader {
    position: relative;
    top: -160px;
    left: 60px;
  }
}
@media only screen and (min-width: 411px) {
  #imgbox {
    width: 300px;
    height: 300px;
    border-radius: 45%;
    margin-top: 3em;
  }

  .context {
    margin-top: 2rem;
    width: 80px;
    height: 180px;
    display: flex;
    flex-flow: row wrap;
  }
}
@media only screen and (min-width: 768px) {
  .bg {
    background-image: url(ipadbg.png);
  }
  #searchContainer {
    margin-top: 30rem;
  }
  #imgbox {
    width: 500px;
    height: 500px;
    border-radius: 45%;
    margin-top: 3em;
  }
  body {
    background: url(center.jpg);
    background-size: contain;
  }
}
@media only screen and (min-width: 1024px) {
  .bg {
    background-image: url(ipadprobg.png);
  }
  #searchContainer {
    margin-top: 40rem;
  }
  #imgbox {
    width: 700px;
    height: 700px;
    border-radius: 45%;
    margin-top: 3em;
  }
  body {
    background: url(center.jpg);
    background-size: cover;
    background-position-y: 100vh;
  }
  .context {
    margin-top: 3rem;
    width: 80px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
  }
  #weatherText {
    font-size: 90px;
    // background: green;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 1025px) {
  body {
    background-image: url(center.jpeg);
    background-size: contain;
  }
  #weatherContainer {
    width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  #imgbox {
    width: 50vw;
    height: 100vh;
    //background: red;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
  }
  body {
    background: url(center.jpg);
    background-size: cover;
    background-position-y: 100vh;
  }
  .context {
    margin-top: 3rem;
    width: 80px;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
  }
  #weatherText {
    font-size: 90px;
    // background: green;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #dateInfo {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}
